<div class = "searchbar">
  <%= form_with url: "/", method: :get do |form| %>
    <%= form.label :query, "Location:" %>
    <% addresses = Listing.distinct.pluck(:address) %>
    <%= form.select :query, addresses, { include_blank: "Select an address" }, class:"form-control my-3" %>
    <%= form.label :check_in, "Check in:" %>
    <%= form.date_field :check_in, class:"form-control my-3" %>
    <%= form.label :check_out, "Check out:" %>
    <%= form.date_field :check_out, class:"form-control my-3"%>
    <%= form.label :who, "Rooms:" %>
    <%= form.text_field :who, class:"form-control" %>
    <div>
    <%= form.submit "Search", id: "submitbutton" %>
    </div>
  <% end %>
</div>
