  <div class="list-card">
    <div class="img" style="background-image: url('<%= offer.listing.photos.attached? ? (cl_image_path offer.listing.photos.first.key) : 'https://source.unsplash.com/random/?vacation'%>')"> </div>
    <div class="offer-card-info">
      <p>Address: <%= offer.listing.address %></p>
      <p>Guest: <%= offer.user.first_name %> <%= offer.user.last_name %></p>
      <% if offer.status == "pending" %>
          <%= link_to "Accept", accept_listing_offer_path(offer.listing, offer), data:{turbo_method: :patch, turbo_confirm: :"Are you sure to accept this offer?"}%>
          <%= link_to "Reject", reject_listing_offer_path(offer.listing, offer), data:{turbo_method: :patch, turbo_confirm: :"Are you sure to reject this offer?"} %>
        <% else %>
          <p>Accepted</p>
      <% end %>
    </div>
  </div>
