<div class="d-flex flex-column align-items-center">
  <h2 class="pb-4">Submit your booking request</h2>

  <div id="reservation-form" class="">
    <%= simple_form_for [@listing, @offer] do |f| %>
      <div class="d-flex justify-content-between align-items-center">
        <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } },
                    class: "booking-first-row" %>
        <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } },
                    class: "booking-first-row"  %>
      </div>
      <%= f.input :comment %>
      <div class="d-flex justify-content-start">
        <%= f.submit "Submit", class: "btn btn-primary my-4"%>
      </div>
    <% end %>
  </div>
</div>
