<h2 class="pb-2">Submit your booking request</h2>

<div id="reservation-form">
  <%= simple_form_for [@listing, @offer] do |f| %>
    <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :comment %>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end %>
</div>
